.wrap {
  display: flex;
  margin-top: 10px;
  position: relative;
  justify-content: flex-end;
  z-index: 1;
  transition: justify-content 2s; /* Added transition for flex properties */
}

.horizontal-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  max-width: 1100px;
  transition: max-width 2s; /* Added transition for max-width */
}

.content {
  transition: all 2s; /* Changed transition to apply to all properties */
}

.item {
  display: inline-block;
  margin-right: 20px;
}

.item img {
  object-fit: cover;
  max-height: 220px;
  border-radius: 8px;
}

.left-arrow {
  z-index: 2;
  top: 100px;
  left: 310px;
  position: absolute;
  color: white;
  cursor: pointer;
}

.right-arrow {
  top: 100px;
  right: 0;
  height: 100px;
  position: absolute;
  color: white;
  cursor: pointer;
}

/* Custom scrollbar styles for WebKit browsers */
.horizontal-scroll-container::-webkit-scrollbar {
  width: 0; /* Width of the scrollbar */
}



@media (max-width: 1340px) {
  .horizontal-scroll-container {
    max-width: 100%;
  }
  .left-arrow {
    left: 0;
  }
}


