.wrap{
  display: flex;
  margin-top: 10px;
  justify-content: right;
}

.horizontal-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  max-height: 205px;
  max-width: 1100px;

}

.item {
  display: inline-block;
  margin-right: 20px;

}

.item img{
  max-height: 200px;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 10px;
}

@media (max-width: 1340px) {
  .horizontal-scroll-container{
    max-width: 100%;
    transition: 2s;
  }
}
