.wrap {
  display: flex;
  margin-top: 10px;
  position: relative;
  justify-content: flex-end; /* Updated this line */
  z-index: 1;
}

.horizontal-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  max-width: 1100px;
}

.content{
  transition: 2s;
}

.item {
  display: inline-block;
  margin-right: 20px;
}

.item img {
  object-fit: cover;
  max-height: 220px;
  border-radius: 8px;
}

.left-arrow{
  top: 100px;
  left: 230px;
  position: absolute;
  color: white;
  cursor: pointer;
}

.right-arrow {
  top: 100px;
  right: 0;
  height: 100px;
  position: absolute;
  color: white;
  cursor: pointer; 
}

@media (max-width: 1340px) {
  .horizontal-scroll-container {
    max-width: 100%;
    transition: 2s;
  }
}
