.nav{
  display: flex;
  justify-content: right;

}

.navbar {
  z-index: 2;
  position: fixed;
  background-color: white;
  padding: 10px;
  max-width: 1100px;
  width: 100%;
  
}

.wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#menu{
  display: none;
  color: violet;
  margin-left: 30px;
}

.search-icon{
  color: violet; 
}

.searc{
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  padding: 3px 50px 3px 10px;
  border-radius: 5px;
}


input {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

input:focus{
  outline: none;
}

.items {
  display: flex;
}

.item {
  padding-left: 5px;
  cursor: pointer;
  position: relative;
}

.icon3{
  top: -7px;
  right: 8px;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: red;
  position: absolute;
  border-radius: 50%
}
/* Add hover effects or additional styling as needed */
.item:hover {
  color: #ffcc00; /* Example color on hover */
}

@media (max-width: 1340px) {
  .navbar{
    max-width: 100%;

  }
  #menu{
    display: block;
    padding-right: 20px;
    padding-left: 5px;
  }
}

@media(max-width:500px){
  .search input{
    display: none;
  }
  .navbar{
    width: 100%;
   
  }

}

