/* ../styles/SlideBar.css */

.slidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px; /* Set the initial width of the sidebar */
    overflow-x:auto;
    transition: 0.5s;
    z-index: 3;
  }
  
  
  .slide {
    text-align: left;
  }

  .heading{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
  }

  #clear{
    display: none;
  }
  
  .title {
    color: gray;
    font-size: 14px;
    font-weight: bold;
  }



  .lists{
    color: gray;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-weight: 600;
    list-style: none;
  }

  .lists:hover{
    border-radius: 5px;
    background-color: #e4e1e1;
  }
  
  .icon {
    color: violet;
    margin-right: 10px;
  }
  
  span {
    margin-left: 10px;
  }

  
/* Custom scrollbar styles for WebKit browsers */
.slidebar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */

}

.slidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.slidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

  

  
  /* Hamburger Menu for Small Screens */
  @media (max-width: 1340px) {
    .slidebar {
      width: 0;
    }

    .side{
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      width: 220px; /* Set the initial width of the sidebar */
      background-color: white;
      overflow-x:auto;
      transition: 0.5s;
      z-index: 2;
    }

    .side #clear{
      display: block;
    }
  
  }
  
