*{
    margin: 0;
    padding: 0;
}

.dark{
    transition: 2s;
    background-color: #0f1127;
    height: 1000vh;
}

.dark .navbar {
    transition: 2s;
    background-color: #0f1127;
}

.dark .search{
    transition: 2s;
    background-color: #2b2d50
}

 .dark .slidebar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  
  }
  
  .dark .slidebar::-webkit-scrollbar-thumb {
    background: #333657;
  }
  
  /* Handle on hover */
  .dark .slidebar::-webkit-scrollbar-thumb:hover {
    background: #282c57; /* Color of the handle on hover */
  }

.dark .navbar input {
    transition: 2s;
    color: white;
    background-color: #2b2d50
}

.dark .side{
    background-color: #151730
}

.dark .heading{
    color: white;
}

.dark .lists:hover{
    background-color: #2e304e;
}

@media(max-width:500px){
    .dark .search{
      background-color:  #0f1127;
    }
  
  }


