*{
    margin: 0;
    padding: 0;
}

.dark{
    transition: 2s;
    background-color: #333;
}

.dark .navbar {
    transition: 2s;
    background-color: #333
}

.dark .navbar input {
    transition: 2s;
    background-color: #333
}

.dark .side{
    background-color: #333
}

.dark .heading{
    color: white;
}

.dark .lists:hover{
    background-color: #444;
}


